div nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    color: rgb(133, 95, 60);
    font-size: 26px;
    font: 25px arial, sans-serif;
    background-color: rgb(224, 171, 120);
    border-radius: 10px;
    justify-content: space-evenly;
  }

body {
    background-image: url(../images/cappucino.jpg);
    padding: 700px, 100px;
    background-position: center;
    background-size: cover;
}

@media (max-width:500px ){
    .nav a {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    body div p {
      display: flex;
      justify-content: center;
    }
    .btn {
      display: flex;
      justify-content: center;
      flex-direction: row;
      color: rgb(199, 61, 61);
      align-content: center;
      margin-left: 5%;
    }
  
    .btn2 {
      display: flex;
      justify-content: center;
      flex-direction: row;
      color: rgb(199, 61, 61);
      align-content: center;
      margin-top:-6%;
    }
  }
  
  .About-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 35%;
 }
  
  .Team-info img {
    border: 3px rgb(160, 120, 85);  
  }
  .Team-info h2 {
    font-size: 25px;
  }
  
  .Team-info p{
   font-size: 20px;
  }

  